@{
    ViewData["Title"] = "Home";
}

<style>
    .hero-section {
        background-color: black;
        padding: 50px 0;
        text-align: center;
    }

        .hero-section h1 {
            font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
            color: white;
            font-size: 3rem;
        }

        .hero-section p {
            font-size: 1.2rem;
            color: white;
            margin-bottom: 20px;
        }

        .hero-section a {
            color: white;
            text-decoration: none;
        }

            .hero-section a:hover {
                color: #4b0082;
            }

    .hero-image {
        max-width: 100%;
        height: auto;
        border-radius: 10px;
        margin-top: 30px;
    }

    .cta-text {
        font-size: 1.5rem;
        color: #333;
        margin-top: 20px;
    }
</style>

<div class="hero-section">
    <h1>Bienvenido a la librería Start</h1>
    <p>Los libros son como espejos, mirándonos en ellos descubrimos quiénes somos.</p>

    <!-- Imagen alusiva a la librería -->
    <img src="/lib/assets/fondo.png" alt="Library Image" class="hero-image">

    <!-- Texto de llamada a la acción -->
    <p class="cta-text">La aventura comienza en cada palabra que lees y comienza ahora mismo.</p>
</div>