@model CRUDStivenSosaEF.Models.LibrosAutor

@{
    ViewData["Title"] = "Delete";
}

<h1>Delete</h1>

<h3>¿Está seguro que desea eliminar?</h3>
<div>
    <h4>LibrosAutor</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IdAutorNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IdAutorNavigation.IdAutor)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.IsbnNavigation)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.IsbnNavigation.Isbn)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="LibrosAutor1" />
        <input type="submit" value="Delete" class="btn btn-danger" /> |
        <a asp-action="Index">Volver a la lista</a>
    </form>
</div>
